#signupForm {
  font-family: helvetica,arial,sans-serif;
  label {
    display: block;
  }
  input[type="text"], input[type="password"]{
    padding: 5px;
    width: 200px;
    &.exp-month {
      width: 25px;
    }
    &.exp-year {
      width: 50px;
    }
  }
  .error {
    color: red;
  }

}