#signupForm {
  font-family: helvetica,arial,sans-serif;
  padding: 20px;
  width: 300px;
  float: left; }
  #signupForm label {
    display: block; }
  #signupForm input[type="text"], #signupForm input[type="password"] {
    padding: 5px;
    width: 200px; }
    #signupForm input[type="text"].exp-month, #signupForm input[type="password"].exp-month {
      width: 25px; }
    #signupForm input[type="text"].exp-year, #signupForm input[type="password"].exp-year {
      width: 50px; }
  #signupForm .error {
    color: red; }

#results {
  float: left;
  width: 600px; }

#mocha {
  margin: 0; }
