#test-forms {
  font-family: helvetica,arial,sans-serif;
  padding: 20px;
  width: 300px;
  float: left;
  label {
    display: block;
    margin-top: 10px;
    &.checkbox, &.radio {
      margin-top: 3px;
    }
  }
  input[type="text"], input[type="password"]{
    padding: 5px;
    width: 200px;
    &.exp-month {
      width: 25px;
    }
    &.exp-year {
      width: 50px;
    }
    &.has-error {
      border: 1px solid red;
    }
  }
  input[type="submit"] {
    display: block;
    margin-top: 10px;
  }

  form {
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }

  .error {
    color: red;
  }
}

#results {
  float: left;
  width: 600px;
}

#mocha {
  margin: 0;
}