#test-forms {
  font-family: helvetica,arial,sans-serif;
  padding: 20px;
  width: 300px;
  float: left; }
  #test-forms label {
    display: block;
    margin-top: 10px; }
    #test-forms label.checkbox {
      margin-top: 3px; }
  #test-forms input[type="text"], #test-forms input[type="password"] {
    padding: 5px;
    width: 200px; }
    #test-forms input[type="text"].exp-month, #test-forms input[type="password"].exp-month {
      width: 25px; }
    #test-forms input[type="text"].exp-year, #test-forms input[type="password"].exp-year {
      width: 50px; }
    #test-forms input[type="text"].has-error, #test-forms input[type="password"].has-error {
      border: 1px solid red; }
  #test-forms input[type="submit"] {
    display: block;
    margin-top: 10px; }
  #test-forms form {
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
    padding-bottom: 10px; }
  #test-forms .error {
    color: red; }

#results {
  float: left;
  width: 600px; }

#mocha {
  margin: 0; }
